*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond
}

.page-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

.review {
    color: black;
    font-family: Courier;
    max-width: 800px;
    text-align: center;
    border: 2px solid;
    padding: 10px
    
}

.about-me {
    color: black;
    font-family: Courier
}

.title {
    color:coral;
    text-align: center
}

.image {
    text-align: center;
}
img {
    max-width:100%;
    height:auto;
}

.video {
    text-align: center
}
iframe {
    max-width:100%; 
}
.review-table {
    color:darkgreen;
    text-align: center;
    position: relative;
    margin:auto;
    
}
.navigation {
    border: 2px solid #333;
    width: 100%;
    text-align:center;
    color: aqua;
}
/*base*/
.nav-button {
    border: 1px solid;
    color: aqua;
}
/*mobile*/
.nav-button {
    width: 140px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.contact {
    color:black;
}

/*tablet*/
@media (min-width: 830px) {
    .nav-button {
        display: inline-block;
        margin: 10px;
        width: 170px;
        color: aqua;
    }
}
/*desktop*/
@media (min-width: 1200px) {
    .nav-button {
        width: 130px;
        display: inline-block;
        margin: 10px;
        color: aqua;
    }  
}

.home-link {
    text-align: center;
    color: aqua;
}